@model List<Article>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";

    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yazar Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Yazar ile ilgili işlemleri buradan gerçekleştirebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Başlık</th>
                                        <th>Yazarı</th>
                                        <th>Resim</th>
                                        <th>Tarih</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Durum</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Title</td>
                                            <td>@item.Writer.Name</td>
                                            <td><img class="rounded-circle header-profile-user" alt="" src="@item.CoverImageUrl" /></td>
                                            <td>@item.CreateDate.ToShortDateString()</td>
                                            <td><a href="/Admin/Article/DeleteArticle/@item.ArticleId/" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/Article/UpdateArticle/@item.ArticleId/" class="btn btn-outline-info">Güncelle</a></td>

                                            @if (@item.Status == true)
                                            {
                                                <td><a href="/Admin/Article/ChangeToStatusFalse/@item.ArticleId" class="btn btn-outline-danger">Pasif Yap</a></td>
                                            }
                                            else
                                            {
                                                <td><a href="/Admin/Article/ChangeToStatusTrue/@item.ArticleId" class="btn btn-outline-success">Aktif Yap</a></td>
                                            }

                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/Article/CreateArticle/" class="btn btn-outline-primary">Yeni Blog Girişi</a>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

