@model List<Comment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yorum Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Yorum ile ilgili işlemleri buradan gerçekleştirebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Makale</th>
                                        <th>Yorum Sahibi</th>
                                        <th>İçerik</th>
                                        <th>Tarih</th>
                                        <th>Sil</th>
                                        <th>Durum</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Article.Title</td>
                                            <td>@item.AppUser.Email</td>
                                            <td>@item.Content</td>
                                            <td>@item.CommentDate.ToShortDateString()</td>
                                            <td><a href="/Admin/Comment/DeleteComment/@item.CommentID/" class="btn btn-outline-danger">Sil</a></td>

                                            @if (@item.Status == true)
                                            {
                                                <td><a href="/Admin/Comment/ChangeToStatusFalse/@item.CommentID" class="btn btn-outline-warning">Pasif Yap</a></td>
                                            }
                                            else
                                            {
                                                <td><a href="/Admin/Comment/ChangeToStatusTrue/@item.CommentID" class="btn btn-outline-success">Aktif Yap</a></td>
                                            }

                                        </tr>
                                    }
                                </tbody>
                            </table>
                           
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

