@model List<Article>
<section class="section posts-entry posts-entry-sm bg-light">
    <div class="container">
        <div class="row mb-4">
            <div class="col-12 text-uppercase text-black">More Blog Posts</div>
        </div>
        <div class="row">
            @foreach(var x in Model)
            {
                <div class="col-md-6 col-lg-3">
                    <div class="blog-entry">
                        <a href="single.html" class="img-link">
                            <img src="@x.CoverImageUrl" alt="Image" class="img-fluid">
                        </a>
                        <span class="date">@x.CreateDate.ToShortDateString()</span>
                        <h2><a href="single.html">@x.Title</a></h2>
                       
                            @if (@x.Description.Length < 100)
                            {
                            <p>@x.Description</p>
                            }
                            else
                            {
                            <p>@x.Description.Substring(0, 100) ...</p>
                            }

                        <p><a href="/Blog/BlogDetail/@x.ArticleId/" class="read-more">Devamını Oku</a></p>
                    </div>
                </div>
            }
            

        </div>
    </div>
</section>


