
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/WriterLayout/Index.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper pb-0">
        <div class="page-header flex-wrap">
            <h3 class="mb-0">
                İstatislikler <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block"></span>
            </h3>

        </div>

        <div class="row">
            <div class="col-xl-12   grid-margin">
                <div class="row">
                    <div class="col-xl-3 col-lg-12 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                        <div class="card bg-warning">
                            <div class="card-body px-3 py-4">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="color-card">
                                        <p class="mb-0 color-card-head">Blog Sayısı</p>
                                        <h2 class="text-white">
                                            <br />
                                            @ViewBag.BlogCount
                                        </h2>
                                    </div>
                                    <i class="card-icon-indicator mdi mdi-auto-fix bg-inverse-icon-warning"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                        <div class="card bg-danger">
                            <div class="card-body px-3 py-4">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="color-card">
                                        <p class="mb-0 color-card-head">İlk Blog</p>
                                        <h2 class="text-white">
                                            <br />
                                            @ViewBag.FirstBlog 
                                        </h2>
                                    </div>
                                    <i class="card-icon-indicator mdi mdi-anchor bg-inverse-icon-danger"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3">
                        <div class="card bg-primary">
                            <div class="card-body px-3 py-4">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="color-card">
                                        <p class="mb-0 color-card-head">Son Blog</p>
                                        <h2 class="text-white">
                                            <br />
                                            @ViewBag.LastBlog
                                        </h2>
                                    </div>
                                    <i class="card-icon-indicator mdi mdi-apps bg-inverse-icon-primary"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3">
                        <div class="card bg-success">
                            <div class="card-body px-3 py-4">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="color-card">
                                        <p class="mb-0 color-card-head">Kategori Sayısı</p>
                                        <br />
                                        <h2 class="text-white"> @ViewBag.CategoryCount</h2>
                                    </div>
                                    <i class="card-icon-indicator mdi mdi-bridge bg-inverse-icon-success"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-12   grid-margin">
                <div class="row">
                    <div class="col-xl-3 col-lg-12 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                        <div class="card bg-warning">
                            <div class="card-body px-3 py-4">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="color-card">
                                        <p class="mb-0 color-card-head">Yorum Sayısı</p>
                                        <h2 class="text-white">
                                            <br />
                                            @ViewBag.CommentCount
                                        </h2>
                                    </div>
                                    <i class="card-icon-indicator mdi mdi-format-list-bulleted bg-inverse-icon-warning"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                        <div class="card bg-danger">
                            <div class="card-body px-3 py-4">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="color-card">
                                        <p class="mb-0 color-card-head">İlk Kategori</p>
                                        <h2 class="text-white">
                                            <br />
                                            @ViewBag.FirstCategory
                                        </h2>
                                    </div>
                                    <i class="card-icon-indicator mdi mdi-message-plus bg-inverse-icon-danger"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3">
                        <div class="card bg-primary">
                            <div class="card-body px-3 py-4">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="color-card">
                                        <p class="mb-0 color-card-head">Son Kategori</p>
                                        <h2 class="text-white">
                                            <br />
                                            @ViewBag.lastCategory
                                        </h2>
                                    </div>
                                    <i class="card-icon-indicator mdi mdi-message-draw bg-inverse-icon-primary"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3">
                        <div class="card bg-success">
                            <div class="card-body px-3 py-4">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="color-card">
                                        <p class="mb-0 color-card-head">Bildirim Sayısı</p>
                                        <h2 class="text-white"> 
                                            <br />
                                            @ViewBag.NotificationCount
                                            </h2>
                                    </div>
                                    <i class="card-icon-indicator mdi mdi-bell-outline bg-inverse-icon-success"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-12   grid-margin">
                <div class="row">
                    <div class="col-xl-3 col-lg-12 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                        <div class="card bg-warning">
                            <div class="card-body px-3 py-4">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="color-card">
                                        <p class="mb-0 color-card-head">Etiket Sayısı</p>
                                        <h2 class="text-white">
                                            <br />
                                            @ViewBag.TagCount
                                        </h2>
                                    </div>
                                    <i class="card-icon-indicator mdi mdi-beta bg-inverse-icon-warning"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                        <div class="card bg-danger">
                            <div class="card-body px-3 py-4">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="color-card">
                                        <p class="mb-0 color-card-head">İlk Yorum</p>
                                        <h2 class="text-white">
                                            <br />
                                            @ViewBag.FirstComment
                                        </h2>
                                    </div>
                                    <i class="card-icon-indicator mdi mdi-brightness-3 bg-inverse-icon-danger"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3">
                        <div class="card bg-primary">
                            <div class="card-body px-3 py-4">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="color-card">
                                        <p class="mb-0 color-card-head">İlk Etiket</p>
                                        <h2 class="text-white">
                                            <br />
                                            @ViewBag.FirstTag
                                        </h2>
                                    </div>
                                    <i class="card-icon-indicator mdi mdi-car-connected  bg-inverse-icon-primary"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3">
                        <div class="card bg-success">
                            <div class="card-body px-3 py-4">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="color-card">
                                        <p class="mb-0 color-card-head">Yazar Sayısı</p>
                                        <br />
                                        <h2 class="text-white">@ViewBag.WriterCount </h2>
                                    </div>
                                    <i class="card-icon-indicator mdi mdi-coffee bg-inverse-icon-success"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

